/* index.html main전용 */
main h1 {
    font-family: 'Nunito', sans-serif;
    color: #524fff;
    padding-top: 150px;
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-weight: 700;
}
main .photo {
    margin-top: 50px;
}
main .photo img {}
main .contents {
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 36px;
    padding:90px 0 90px 0;
    font-weight: 300;
}
main .contents em {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
    padding-bottom: 40px;
    color: #ffffff;
}
